.text-blurred {
  opacity: 0;
  filter: blur(5px); /* Adjust blur amount as needed */
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
  margin: 0;
}

.text-clear {
  opacity: 1;
  filter: blur(0);
  transition: opacity 1s ease-in-out, filter 1s ease-in-out;
  margin: 0;

}